.menu {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;

    background: #ffffff;
}

.logo-1-1 {
    position: absolute;
    width: 145px;
    height: 31px;
    margin: 24px 1240px 25px 215px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;

    letter-spacing: 0.03em;

    color: #000000;
}

.logo-1-2 {
    color: #2196F3;
}

.studio {
    position: absolute;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: #212121;
}

.studio:hover {
    position: absolute;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;


    color: #2196F3;
}

.portfolio {
    position: absolute;
    width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: #212121;
}

.contacts {
    position: absolute;
    width: 64px;
    height: 16px;
    left: 670px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: #212121;
}

.mail {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: #757575;
}

.mail:hover {

    color: #2196F3;
}

.tel:hover {
    color: #2196F3;
}

.contacts:hover {
    color: #2196F3;
}

.portfolio:hover {
    color: #2196F3;
}

.tel {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: #757575;
}

.header {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    font-family: 'Roboto';

    background: #2F303A;

}

.buisness {

    position: absolute;
    width: 696px;
    height: 120px;
    top: 170px;
    left: 452px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.button {
    position: absolute;
    width: 216px;
    height: 50px;
    top: 350px;
    left: 692px;


    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 4px solid rgba(255, 255, 255, .015);

    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    color: #ffffff;
}

.button:hover {
    background-color: #188CE8;
}


.main-1 {
    position: absolute;
    width: 1170px;
    height: 98px;
    left: 215px;
    top: 774px;
}

.osobennosti-1 {
    position: absolute;
    width: 270px;
    height: 98px;
    top: 0px;
    left: 0px;
}

.uvaga {
    position: absolute;
    width: 270px;
    height: 16px;
    top: 0px;
    left: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.text1 {
    position: absolute;
    width: 270px;
    height: 72px;
    top: 26px;
    left: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;

    color: #757575;
}

.osobennosti-2 {
    position: absolute;
    width: 270px;
    height: 74px;
    top: 0px;
    left: 300px;
}

.punct {
    position: absolute;
    width: 270px;
    height: 16px;
    top: 0px;
    left: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.text2 {
    position: absolute;
    width: 270px;
    height: 48px;
    top: 26px;
    left: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;

    color: #757575;
}

.osobennosti-3 {
    position: absolute;
    width: 270px;
    height: 74px;
    top: 0px;
    left: 600px;
}


.plan {
    position: absolute;
    width: 270px;
    height: 16px;
    top: 0px;
    left: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.text3 {
    position: absolute;
    width: 270px;
    height: 48px;
    top: 26px;
    left: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;

    color: #757575;
}

.osobennosti-4 {
    position: absolute;
    width: 270px;
    height: 98px;
    top: 0px;
    left: 900px;
}

.tech {
    position: absolute;
    width: 270px;
    height: 16px;
    top: 0px;
    left: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.text4 {
    position: absolute;
    width: 270px;
    height: 72px;
    top: 26px;
    left: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;

    color: #757575;
}

.main-2 {
    position: absolute;
    width: 1170px;
    height: 386px;
    left: 215px;
    top: 966px;
}

.chto-delaem {
    position: absolute;
    width: 366px;
    height: 42px;
    top: 0px;
    left: 402px;
    margin-top: 0px;
    margin-bottom: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

}

.photo-1 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 0px;
    top: 92px;

    background: url(imgdesktop.jpg);
    mix-blend-mode: normal;
}

.photo-2 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 400px;
    top: 92px;

    background: url(imgmobile.jpg);
}

.photo-3 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 800px;
    top: 92px;

    background: url(imgdesign.jpg);
}

.main-3 {
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1446px;

    background: #F5F4FA;
}

.our-team-text {
    position: absolute;
    width: 264px;
    height: 42px;
    top: 94px;
    left: 668px;
    margin: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.team {
    position: absolute;
    width: 1170px;
    height: 368px;
    top: 186px;
    left: 215px;
}


ul {
    list-style: none;
}


.team-1 {

    position: absolute;
    width: 270px;
    height: 368px;

    top: 0px;
    left: 0px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
}

.team-2 {
    position: absolute;
    width: 270px;
    height: 368px;
    top: 0px;
    left: 300px;

    background: #FFFFFF;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-3 {
    position: absolute;
    width: 270px;
    height: 368px;
    top: 0px;
    left: 600px;

    background: #FFFFFF;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-4 {
    position: absolute;
    width: 270px;
    height: 368px;
    top: 0px;
    left: 900px;

    background: #FFFFFF;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}




.igor {
    position: absolute;
    width: 270px;
    height: 260px;

    position: absolute;
    width: 270px;
    height: 260px;
}

.igor-small {
    position: absolute;
    width: 129px;
    height: 19px;
    top: 290px;
    left: 71px;
    margin: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500px;
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.igor-work {
    position: absolute;
    width: 130px;
    height: 19px;
    top: 319px;
    left: 70px;
    margin: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400px;
    font-size: 16px;
    line-height: 19px;
    white-space: nowrap;

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

.olga {
    position: absolute;
    width: 270px;
    height: 260px;
    margin: 0px 0px 108px 0px;
}

.olga-small {
    position: absolute;
    width: 104px;
    height: 19px;
    top: 290px;
    left: 83px;
    margin: 0px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500px;
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.olga-work {
    position: absolute;
    width: 147px;
    height: 19px;
    top: 319px;
    left: 62px;
    margin: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400px;
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

.kolya {
    position: absolute;
    width: 270px;
    height: 260px;
    margin: 0px 00px 108px 0px;
}

.kolya-small {
    position: absolute;
    width: 130px;
    height: 19px;
    top: 290px;
    left: 70px;
    margin: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500px;
    font-size: 16px;
    line-height: 19px;
    white-space: nowrap;

    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.kolya-work {
    position: absolute;
    width: 76px;
    height: 19px;
    top: 319px;
    left: 97px;
    margin: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400px;
    font-size: 16px;
    line-height: 19px;
    white-space: nowrap;

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

.misha {
    position: absolute;
    width: 270px;
    height: 260px;
    margin: 0px 00px 108px 0px;
}

.misha-small {
    position: absolute;
    width: 145px;
    height: 19px;
    top: 290px;
    left: 63px;
    margin: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500px;
    font-size: 16px;
    line-height: 19px;
    white-space: nowrap;

    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.misha-work {
    position: absolute;
    width: 87px;
    height: 19px;
    top: 319px;
    left: 92px;
    margin: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400px;
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

.pol {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2094px;

    background: #2F303A;
}

.logo-2-1 {
    position: absolute;
    width: 145px;
    height: 31px;
    top: 60px;
    left: 215px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;

    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.logo-2-2 {
    color: #2196F3;
}

.adress-kiyv {
    position: absolute;
    width: 231px;
    height: 21px;
    top: 111px;
    left: 215px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;

    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.mail-2 {
    position: absolute;
    width: 136px;
    height: 21px;
    top: 141px;
    left: 215px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.tel-2 {
    position: absolute;
    width: 231px;
    height: 21px;
    top: 171px;
    left: 215px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}